@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500,700);

@import "nav";
@import "tabs";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #c26b23;
  background: linear-gradient(to bottom, #f8ffe8 0%,#e3f5ab 33%,#b7df2d) fixed;
}

.main-header {
  text-align: center;
  background: #c26b23;
  color: white;
  padding: 3rem 5rem 3rem;
  h1 {
    margin: 0 0 0.5rem 0;
  }
  a {
    color: white;
  }
}

h1 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
  text-align: center;
}
p {
  margin: 0 0 0.5rem 0;
}

main.tabs {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

//Gardening Guides
.guide-buttons {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 150px);
  align-content: center;
  li {
    text-align: center;
    display: grid;
    align-items: center;
    height: 100%;
    border: 2px solid #c26b23;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.25em;
    box-shadow: inset 0 0 20px rgba(194, 107, 35, 0);
    outline: 1px solid;
    outline-color: rgba(194, 107, 35, .5);
    outline-offset: -2px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  li:hover {
    border: 2px solid;
    box-shadow: inset 0 0 20px rgba(194, 107, 35, .5), 0 0 20px rgba(194, 107, 35, .2);
    outline-color: rgba(194, 107, 35, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
    background-color: #c26b23;
    color: #fff;
  }
}

//Season Calendar
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

.calendar-container {
	width: 60%;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #c26b23;
	color: #fff;
  padding: 3em 2em;
  text-align: center;
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	background: #fff;
	border-radius: 0 0 1em 1em;
	color: #555;
	display: inline-block;
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar thead {
	color: #c26b23;
	font-weight: 700;
  text-transform: uppercase;
}

.calendar td {
	padding: .5em 1.5em;
  text-align: center;
}

.calendar-days td {
  padding: .5em 1.1em;
  text-align: center;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
}

.current-day {
	color: #c26b23;
}

.prev-month,
.next-month {
	color: #cacaca;
}



//Plant Database
.search-wrapper {
  height: 5rem;
  font-size: 0;
  width: 70%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;

  input {
      box-sizing: border-box;
      font-size: 1rem;
      vertical-align: top;
  }

  input:focus {
    outline: none;
    color: #c26b23;
  }

  input::placeholder {
    color: #c26b23;
  }
}

.search {
  padding: 0 30px;
  font-size: 2rem;
  width: 80%;
  min-width: 200px;
  height: 4rem;
  border: 1px solid #c26b23;
  border-radius: 20px 0 0 20px;
}

.submit {
cursor: pointer;
border: none;
background: url('http://thesuiteworld.com/wp-admin/maint/search-icon-white-png-540.png') no-repeat center center, #c26b23;
background-size: 35px 35px;
border-radius: 0 20px 20px 0;
padding: 15px 25px;
  width: 20%;
  min-width: 75px;
  height: 4rem;
}

